snippet truncate "Description" i
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}
endsnippet

snippet fixed_top "Description" b
.fixed_top {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
}
endsnippet
