snippet golang "go" i
package main

import (
	"fmt"
)

func main() {
	fmt.Println("Hello world")
}
endsnippet

snippet print "go" i
fmt.Println(${1:VAR})
endsnippet

snippet log "go" i
log.Println(${1:VAR})
endsnippet

snippet for "go" i
for i := 0; i < 10; i++ {
}
endsnippet

snippet err "go" i
if err != nil {
    log.Fatal("Error")
}
endsnippet
