snippet table_bootstrap "html_bootstrap" i
<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td>A</td>
            <td>B</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GDP</td>
            <td>11</td>
            <td>11</td>
        </tr>
    </tbody>
</table>
endsnippet
