snippet textbox_multiline "xaml" i
<TextBox x:Name="tb_${1:NAME}"
		TextWrapping="Wrap" AcceptsReturn="True" 
		ScrollViewer.VerticalScrollBarVisibility="Visible" 
		HorizontalAlignment="Center" VerticalAlignment="Center"
		Text="" 
		PlaceholderText="请输入" 
		Height="400" Width="300" 
/>
endsnippet
