snippet el "Description" i
v-el:${1:VAR}
endsnippet

snippet click "click" i
v-on:click="${1:METHOD}"
endsnippet

snippet v-for "Description" i
v-for="${1:item} in $1s"
endsnippet

snippet v-if "Description" i
<template v-if="${1:VAR}">
</template>
endsnippet
