snippet vue_el "Description" i
v-el:${1:VAR}
endsnippet

snippet vue_click "click" i
v-on:click="${1:METHOD}"
endsnippet

snippet vue_for "Description" i
v-for="${1:item} in $1s"
endsnippet

snippet vue_if "Description" i
<template v-if="${1:VAR}">
</template>
endsnippet

snippet vue_model "html_vuejs" i
v-model="${1:VAR}"
endsnippet
