# ---------------------------------------- 
# Smarty Template Snippets
# 
# Author: Zhongwei Sun
# EMail:  zhongwei.sun2008@gmail.com
# Blog:   http://www.sunzhongwei.com
# ---------------------------------------- 

snippet include "Description" b
{include file='${1:TEMPLATE_FILE_NAME}'}
endsnippet
