snippet element_ui "html_elementui" i
<link rel="stylesheet" href="//cdn.staticfile.org/element-ui/2.13.0/theme-chalk/index.css">
<script type="text/javascript" src="//cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
<script type="text/javascript" src="//cdn.staticfile.org/element-ui/2.13.0/index.js"></script>
endsnippet
