snippet email "Description" i
<a href="mailto:${1:EMAIL_ADDRESS}">$1</a>
endsnippet

snippet tel "Description" i
<a href="tel:${1:TEL_NUMBER}">$1</a>
endsnippet

snippet t "timestamp" i
`date +%Y%m%d%H%M`
endsnippet
