snippet eslint_unused_vars "javascript_eslint" i
// eslint-disable-next-line no-unused-vars
endsnippet

snippet eslint_wx_unused_vars "javascript_eslint" i
/* global Page */
/* global wx */
/* global getApp */
/* global getCurrentPages */
/* global __wxConfig */
endsnippet
