snippet compose_text "kotlin_compose" i
import androidx.compose.material.Text
Text(text = "${1:text}")
endsnippet

snippet compose_preview "kotlin_compose" i
import androidx.compose.ui.tooling.preview.Preview
import androidx.compose.runtime.Composable
@Preview
@Composable
endsnippet
