snippet kotlin "kotlin" i
fun main(args: Array<String>) {
    println("Hello, World!")
}
endsnippet

snippet find_view_by_id "kotlin" i
findViewById(R.id.${1:ID})
endsnippet

snippet on_click "kotlin" i
setOnClickListener {
    ${1://TODO}
}
endsnippet

snippet toast "kotlin" i
Toast.makeText(this, "button clicked",
	Toast.LENGTH_SHORT).show()
endsnippet

snippet func "kotlin" i
private fun ${1:FUNCTION_NAME}() {
    ${1://TODO}
}
endsnippet
