snippet ` "Description" i
\`\`\`
${1:CODE}
\`\`\`
endsnippet

snippet link "Description" i
[${1:NAME}](${2:URL})
endsnippet


# 参考：
# https://github.com/honza/vim-snippets/blob/master/UltiSnips/markdown.snippets
