snippet fields "Description" i
// TODO: comment setFromDB

$${1:VAR} = [
	'name' => '$1',
	'label' => '${3:LABEL}',
];

// table view
$this->crud->addColumns([$$1, ]); 

// detail view for create/update
$this->crud->addFields([$$1, ]); 
endsnippet

snippet field "Description" i
$${1:VAR} = [
	'name' => '$1',
	'label' => '${3:LABEL}',
];
endsnippet
