snippet view "bladerunner template system for wordpress" b
bladerunner('${1:TEMPLATE}', [
	"${2:VAR}" => $$2,
]);
endsnippet

snippet salt "Description" b
`curl https://api.wordpress.org/secret-key/1.1/salt/`
endsnippet
