snippet django_model_serializer "python_django_rest" i
from rest_framework import serializers
from . import ${1:Model}


class $1Serializer(serializers.ModelSerializer):
    class Meta:
        model = $1
        fields = ['id', ]
endsnippet
