snippet rasa_utter_template "python_rasa" i
dispatcher.utter_message(
    template="utter_${1:VALUE}",
    buttons=buttons,
    )
endsnippet

snippet rasa_utter_text "python_rasa" i
dispatcher.utter_message(text=msg)
endsnippet

snippet rasa_entity "python_rasa" i
${1:entity} = next(tracker.get_latest_entity_values("$1"), None)
endsnippet
