snippet orm_orator "python_orator" i
from orator import DatabaseManager, Model

config = {
    'mysql': {
        'driver': 'mysql',
        'host': 'localhost',
        'database': 'test',
        'user': 'root',
        'password': 'password',
        'prefix': '',
        'charset': 'utf8mb4',
    }
}

db = DatabaseManager(config)
Model.set_connection_resolver(db)


class User(Model):

    __table__ = 'users'
    __timestamps__ = True 
endsnippet
