snippet var "Description" b
$${1:VAR}: ${2:VALUE};
endsnippet

snippet import "Description" b
@import '${1:FILE_NAME}';
endsnippet

snippet bfc "Description" b
overflow: hidden;
endsnippet

snippet min "Description" b
@media (min-width: $pc_min_width) {
	${1:// TODO}
}
endsnippet

snippet hide "Description" b
display: none;
endsnippet
